In [3]:
a = [1,2,3]
b = [4,5,6]

# a. extend(b)

a += b    # a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [4]:
#remove() : 값을 통해서 삭제(인덱스 x)
a = [1,2,3]
a.remove(2)
print(a)

[1, 3]

In [5]:
#pop() : 인덱스를 통해서 삭제(+삭제 전 값을 변수에 저장 가능)
a=[4,5,6]
# a.pop(1)

b= a.pop(2)

print(a)
print(b)

[4, 5]
6

In [6]:
#index() : 찾고자 하는 값의 인덱스 번호 출력
a=[8, 10, 20, 5, 3]
print(a.index(20))

2

In [10]:
email="dkfma0799@gmail.com"

email.index("@")

email_idx=email.index("@")

email[:email_idx]

'dkfma0799'

In [11]:
#in : lsit내에 해당 값이 존재(True, False)
a=[1,2,3]
print(3 in a)
print(5 in a)

True
False

In [16]:
# sort() and sorted() : list 정렬
# - sort() : 원본 list 정렬
# - sorted() : list 복제 후 정렬

a=[2,57,23,53,16,8,24]

b=[sorted(a)] # 정렬 default : 오름차순

print(a)
print(b)
print("="*50)

a.sort(reverse=True)
print(a)

[2, 57, 23, 53, 16, 8, 24]
[[2, 8, 16, 23, 24, 53, 57]]
==================================================
[57, 53, 24, 23, 16, 8, 2]

### 2. tuple

In [20]:
a=[1,2,3] #list type
b=(1,2,3) #tuple type
c=5,6,7   #tuple type #괄호 생략가능

print(type(a))
print(type(b))
print(type(c))

a[0]=99
print(a)

# b[0]=99
# print(b)
# 오류남. 튜플은 변경 불가, 정렬 안 됨

<class 'list'>
<class 'tuple'>
<class 'tuple'>
[99, 2, 3]

In [21]:
#packing and unpacking
# -list 와 tuple 가능
# -[], () -> 값을 묶음(packing)

tuple_num=(1,2,3)
a,b,c=tuple_num
print(a,b,c)

1 2 3

### 연습문제

변수 a와 b의 값을 교환하세요.

In [24]:
a=5
b=9

# 코드 작성
# 1. 임시 변수 사용
#temp = a
#a=b
#b=temp

#2.tuple() 사용
#packing unpacking 사용
a, b= b, a

print(a) #출력 9
print(b) #출력 5

9
5

### 3. dict

In [25]:
dict_a={"korea" : "seoul",
        "canada" : "ottawa",
        "usa" : "washington D.C"}
dict_b={0:1, 1:6, 2:4, 3:9}
print(dict_a["canada"])
print(dict_b[3])

ottawa
9

In [31]:
import pprint
dict_a={"korea" : "seoul",
        "canada" : "ottawa",
        "usa" : "washington D.C"}

#값을 입력 -> key 값이 x(입력), key 값이 o(수정)
dict_a["japan"]="tokyo"
dict_a["japan"]="kyoto"
dict_a["japan2"]="kyoto"

# print(dict_a)
pprint.pprint(dict_a)

{'canada': 'ottawa',
 'japan': 'kyoto',
 'japan2': 'kyoto',
 'korea': 'seoul',
 'usa': 'washington D.C'}

In [33]:
#update() : dict와 dict 병합
a={
    "a" : 1,
    "b" : 2
}

b={
    "a" : 9,
    "b" : 4,
    "e" : 5
}

a.update(b)
print(a)

{'a': 9, 'b': 4, 'e': 5}

In [34]:
# pop() : dict 항목 삭제

c = a.pop("a")

print(a)
print(c)

{'b': 4, 'e': 5}
9

In [36]:
# 값 접근
print(a["e"])
# print(a["f"])
print(a.get("f"))

5
None

In [37]:
# in
print("b" in a)

True

In [38]:
#clear(): dict 초기화
print(a)
a.clear()
print(a)

{'b': 4, 'e': 5}
{}